In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(2,22,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(5,55,5):
  print(i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
for i in range(2,20,2):
  print(i)

In [ ]:
for i in range(1,23,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21

In [ ]:
for i in range(1,7):
  print(i**2)

1
4
9
16
25
36

In [ ]:
for i in range(1,7):
  print(i**3)

1
8
27
64
125
216

In [ ]:
for i in range(1,7):
  print((i**3)+1)

2
9
28
65
126
217

In [ ]:
for i in range(1,7):
  print((i**2)-1)

0
3
8
15
24
35

In [ ]:
n=int(input())
sum=0
for i in range(1,n+1):
  sum+=i
print(sum)

3
6

In [ ]:
# Check sum of even or odd numbers 
sume,sumo,n=0,0,int(input())
for i in range(1,n+1):
  if i%2==0:
    sume+=i
  else:
    sumo+=i
print("Sum of even numbers={} and Sum of odd numners ={}".format(sume,sumo))

10
Sum of even numbers=30 and Sum of odd numners =25

In [ ]:
# For looping in string
str=input()
for ch in str:
  print(ch)

ananya
a
n
a
n
y
a

In [ ]:
str=input()
for ch in range(0,len(str)):
  print(str[ch])

ananya
a
n
a
n
y
a

In [ ]:
for i in range(1,5):
  for j in range(1,6):
    print(i,j,sep="\t")

1	1
1	2
1	3
1	4
1	5
2	1
2	2
2	3
2	4
2	5
3	1
3	2
3	3
3	4
3	5
4	1
4	2
4	3
4	4
4	5

In [ ]:
# Print pattern
for i in range(1,6):
  for j in range(5,0,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [ ]:
# Print pattern
for i in range(1,6):
  for j in range(1,6):
    print(i,end=" ")
  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
# Print pattern
for i in range(5,0,-1):
  for j in range(1,6):
    print(i,end=" ")
  print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [ ]:
# Pattern 
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(i,end=" ")
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
# Pattern 
n=5
for i in range(1,6):
  for j in range(i,0,-1):
    print(n,end=" ")
  n=n-1
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
# Pattern 
for i in range(1,6):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
# Pattern 
for i in range(1,6):
  for j in range(5,i,-1):
    print(j,end=" ")
  print()

5 4 3 2
5 4 3
5 4
5

In [ ]:
# Pattern 
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [2]:
for i in range(5,0,-1):
  for j in range(i,1-1,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

PATTERN QUESTIONS ASSIGNMENT

In [3]:
for i in range(5,0,-1):
  for j in range(i,5+1):
    print(i,end=" ")
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [6]:
for i in range(1,6):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [7]:
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print(j,end=" ")
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [10]:
# HOW SAME VALUE OF COUNTER AS THAT OF I?
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(i,end=" ")
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [13]:
for i in range(1,11,2):
  for j in range(1,i+1,2):
    print(j,end=" ")
  print()

1
1 3
1 3 5
1 3 5 7
1 3 5 7 9

In [15]:
for i in range(1,11,2):
  for j in range(i,9+1,2):
    print(j,end=" ")
  print()

1 3 5 7 9
3 5 7 9
5 7 9
7 9
9

In [16]:
for i in range(9,0,-2):
  for j in range(i,9+1,2):
    print(j,end=" ")
  print()

9
7 9
5 7 9
3 5 7 9
1 3 5 7 9

In [19]:
for i in range(9,0,2):
  for j in range(i,0+1,-2):
    print(i,end=" ")
  print()

In [23]:
for i in range(9,0,-2):
  for j in range(i,0,-2):
    print(i,end=" ")
  print()

9 9 9 9 9
7 7 7 7
5 5 5
3 3
1

In [34]:
for i in range(1,11,2):
  for j in range(i,1,2):
    print(i,end=" ")
  print()

In [37]:
for i in range(1,11,2):
  for j in range(i,9+1):
    print(j,end=" ")
  print()

1 2 3 4 5 6 7 8 9
3 4 5 6 7 8 9
5 6 7 8 9
7 8 9
9

In [41]:
for i in range(1,6):
  for j in range(1,i+1):
      print(j,end=" ")
  print()

1
1 1
1 2 2
1 2 3 3
1 2 3 4 4

In [43]:
for i in range(1,6):
  print(" * " *i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [44]:
for i in range(6,0,-1):
  print(" * " *i)

 *  *  *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [ ]:
for i in range(1,6):
  print(" * " *i)