Difference btw C and Python 
* Its procedural 
* Shorter code 
* No inialisation 
* Dynamic Memory 
* Compatible with other interfaces

In [ ]:
# Conversion into Decimal Number System 
n=0O123
print(int(n))
n=0B101010
print(int(n))
n=0XAF43
print(int(n))

83
42
44867

In [ ]:
# Convert into binary | decimal | hexadecimal 
n=100
print(bin(n))
print(hex(n))

0b1100100
0x64
100

DAY2- Printing statements in Python

In [3]:
# Adding and multiplication of two numbers 
a=int(input("Enter the number"))
b=int(input("Enter the number"))
s=a+b
m=a*b
# Printing in the same line 
print("The sum of two numbers is",s,"The multiplication of two numbers is=",m)
# Printing in different line 
print("The sum=",s,"\n","The multiplication=",m)

Enter the number10
Enter the number12
The sum of two numbers is 22 The multiplication of two numbers is= 120
The sum= 22
 The multiplication= 120

Separators
*   sep=" "
*   In the same line, the by default = space
*   Can modify acc to ur need 

End
*    end= " " 
*    Affects the next line to be printed.
*    If end="\n", statement in the next line by default

In [12]:
print("Hello", "Everyone")
print("Hello", "Everyone", sep=",")
print("Hello","Everyone",sep="\t", end=" * ")
print("My name is ananya")

Hello Everyone
Hello,Everyone
Hello	Everyone * My name is ananya

Assignment Opertaors

In [19]:
# Power of a number 
print("5 to the power 4 is written as",5**4)
# Unpacking of the values in the single line 
a,b,c=10,20,30
print("a=",a,"b=",b,"c=",c)
# Unpacking taking the input values as well
x,y,z=input(),input(),input()
print(x,y,z)

5 to the power 4 is written as 625
a= 10 b= 20 c= 30
100
200
300
100 200 300

Operators in Python

*   Arithmetic: +,-,*,/,//,%,**
*   Assignmnet: =,+=,-=, .....
*   Relational: >,<,==,!=,<=,>=
*   Logical: and , or , not 
*   Boolean: True , False 
*   Bitwise: &,|,^,<<,>>,~
*   Unary Minus
*   Membership and Identity

In [21]:
# ARITHEMETIC
a,b=30,15
print("Decimal Divison", a/b)
print("Integer Divison", a//b)
print("Remainder Divison", a%b)

Decimal Divison 2.0
Integer Divison 2
Remainder Divison 0

In [22]:
# UNARY MINUS 
a=30
b=-a
c=-b
print(a,b,c)

30 -30 30

In [28]:
# RELATIONAL OPERATORS 
a,b=10,20
print(a>b , a<=b , a>=b, a==b , a!=b, sep="\t",end=" ^ ")
# CHAINED RELATIONAL OPERATORS 
x=15
print(10<x<20)
print(1<2>3<4)

False	True	False	False	True ^ True
False

In [32]:
# LOGICAL OPERATORS 
# AND : returns the second value 
# OR  : returns the first value 
# Or - 1st statement , if no condition otherwise true or false 
x=500
y=200
# or hence will give 500 
print(x or y)
print( not x)

x,y,z=1,2,3
if x<y and y<2:
  print('yes')
else:
  print('no')
if x<y or y<2:
  print('yes')
else:
  print('no')

500
False
no
yes

In [34]:
# BOOLEAN OPERATORS 
# AND : Both true then true 
# OR : One true then true 
a,b=True, False 
print(a and b, a or b , not a , not b , a and a , b or b , b and b)

False True False True True False False

In [2]:
# BITWISE OPERATORS 
# Converting a number into binary format
n=45
print("Binary of",n,"=",bin(n))

# BITWISE AND (&)
x=10
y=11
print(x,y)
print)

Binary of 45 = 0b101101
10 11
10

In [47]:
x=0b00001010
y=0b00001011
c=x&y
print(c)

10

In [6]:
# Calculate the area and perimenter of a rectangle 
l,b=int(input()),int(input())
area,peri=l*b, 2*(l+b)
print("The area=%f The perimeter=%f" %(area,peri))

10
20
The area=200.000000 The perimeter=60.000000

In [15]:
# Sum mul subs div point quoteint remainder  % term
a,b=int(input()),int(input())
sum,mult,subs,div,fdiv,rem=a+b,a*b,a-b,a//b,a/b,a%b
print("Sum=%f\nMultiplication=%i\nSubstraction=%i\nDivision=%i\nDecimal_Divison=%f\nRemainder=%i " %(sum,mult,subs,div,fdiv,rem))

12
5
Sum=17.000000
Multiplication=60
Substraction=7
Division=2
Decimal_Divison=2.400000
Remainder=2

In [19]:
print("helo","there",sep="-")

helo-there

In [25]:
# FORMAT STRING 
a=10
b=20
print("sum ={}\nmultiplication={}".format(a+b,a*b))

sum =30
multiplication=200

In [29]:
# Inputting values together 
a,b,c = [int(x) for x in input("Enter the number").split('+')]
print(a,b,c)

Enter the number67+78+45
67 78 45

In [33]:
a =eval(input("enter number"))
print(a)

enter number90+67+45+67/5*7
295.8

CALCULATE THE SUM OF DIGITS OF A NUMBER

In [35]:
num=int(input("Enter a  number"))
sum=0
while num!=0:
  rem=num%10
  sum+=rem
  num=num//10
print("The sum of digits of a number={}".format(sum))

Enter a  number478
The sum of digits of a number=19

In [36]:
num=476
sum=0
rem=num%10
sum+=rem
num=num//10
rem=num%10
sum+=rem
num=num//10
rem=num%10
sum+=rem
num//=10
print("Sum of digits=",sum)

Sum of digits= 17

In [38]:
# REVERSE OF A NUMBER 
rev=0
num=476
rem=num%10
rev=rev*10+rem
num=num//10
rem=num%10
rev=rev*10+rem
num=num//10
rem=num%10
rev=rev*10+rem
num//=10
print("Sum of digits=",rev)

Sum of digits= 674

IF ELSE CONDITIONS
 IF 
1. Used for more than two conditions 
2. Checks all the statements 

IF ELSE 
1. Used for two conditions 
2. faster as condition based

In [1]:
# Check the angles of a triangle and check if it is valid or not 
a,b,c = [int(x) for x in input("Enter the angles").split()]
sum=a+b+c
if sum==180:
  print("The triangle is valid, as the sum=%i" %sum)
else:
  print("The triangle is invalid as the sum of angles=%i" %sum)

Enter the angles60 60 60
The triangle is valid, as the sum=180

In [2]:
# Doing with only if
a,b,c = [int(x) for x in input("Enter the angles").split()]
sum=a+b+c
if sum==180:
  print("The trainagle is valid")
if sum!=180:
  print("The triangle is inavlid ")

Enter the angles30 30 50
The triangle is inavlid

In [3]:
# Enter a number and check whether it s positive negative or zero 
a=int(input("Enter the number"))
if a>0:
  print("The number %i is a positive number" %a )
if a<0:
  print("The number %i is a negative number" %a )
if a==0:
  print("The number %i is a zero" %a )

Enter the number-8
The number -8 is a negative number

In [7]:
# CALCULATE PROFIT OR LOSS
sp,cp = [int(x) for x in input("Enter the number").split()]
if sp>cp:
  profit=sp-cp
  print("The profit=%i" %profit)
else:
  loss=cp-sp
  print("The loss =%i" %loss)
print("***************************************************************")
sp,cp = [int(x) for x in input("Enter the number").split()]
if sp>cp:
  profit=sp-cp
  print("The profit=%i" %profit)
if cp>sp:
  loss=cp-sp
  print("The loss =%i" %loss)

Enter the number100 20
The profit=80
***************************************************************
Enter the number120 140
The loss =20

In [8]:
# Check whether a number is even or odd 
a=int(input("Enter a number"))
if a%2==0:
  print("%i is an even number"%a)
else:
  print("%i is an odd number"%a)

print("*******************************************************")
a=int(input("Enter a number"))
if a%2==0:
  print("%i is an even number"%a)
if a%2!=0:
  print("%i is an odd number"%a)

Enter a number60
60 is an even number
*******************************************************
Enter a number65
65 is an odd number

In [9]:
# Enter the bill amount and calcuate the discount rate 
bill=int(input("Enter the bill amount"))
if bill>50000:
  d=0.05
  bill-=bill*d
  print("The bill=%i"%bill)
else:
  d=0.02
  bill-=bill*d
  print("The bill=%i"%bill)

Enter the bill amount51000
The bill=48450

In [14]:
# Check whether an year is a leap year or not 
YR=int(input("Enter the year"))
if YR%4==0:
  print("The year is leap year")
else:
  print("The year is not a leap year")

Enter the year89
The year is not a leap year

In [19]:
# Conversion of distance into kilometers 
d=float(input("Enter the distance in meter"))
print("The distance in kms=%f"% (d*0.001))

Enter the distance in meter3000
The distance in kms=3.000000

In [21]:
# Enter the age group of a person and check whether a person can vote or not 
age=int(input("Enter the age grp of a person "))
if age>=18:
  print("A person can vote")
else:
  print("A person cannot vote")

print("*****************************************************")
if age>18:
  print("A person can vote")
if age<18:
  print("A person cannot vote")
if age==18:
  print("A person can vote")

Enter the age grp of a person 26
A person can vote
*****************************************************
A person can vote

NESTED ELSE IF

In [3]:
# ENTER THE COORDINATES OF A GRAPH AND CHCK WHETHER THEY LIE ON X, Y PLANE OR X OR BY AXIS OR THE ORIGIN 
x,y=[int(x) for x in input("Enter the coordinates").split()]
if x==0:
  if y==0:
    print("Coordinates {} lie at the Origin".format(x,y))
  else:
     print("Coordinates {} lie at the Y-axis".format(x,y))
else:
   if y==0:
    print("Coordinates {} lie at the X-axis".format(x,y))
   else:
     print("Coordinates {} lie at the XY-plane".format(x,y))

Enter the coordinates5 7
Coordinates 5 lie at the XY-plane

In [ ]:
# Doing the same questions using elif ladder 
x,y=[int(x) for x in input("Enter the coordinates").split()]
if x==0:
  if y==0:
    print("Origin")
  else:
    print("Y axis")
elif y==0:
  if x!=0:
    print("X axis")
  else:

In [6]:
x,y=[int(x) for x in input("Enter the coordinates").split()]
if x==0:
  if y==0:
    print("origin")
  else:
    print("Y axis")
elif y==0:
  print("X axis")
else:
  print("XY plane")

Enter the coordinates0 8
Y axis

In [ ]:
# Enter three number and check the greatest of the three number
a,b,c=[int(x) for x in input("Enter the coordinates").split()]
if a>b:
  if a>c:
    print("a is greater")
  else:
    print("c is greAter")
elif b>c:
  print("b is greater")
else:
  print("c is greater")

In [13]:
# Do the coordinate question using elif ladder and logical operators 
x,y=[int(x) for x in input().split()]
if x==0 and y==0:
  print("Origin")
elif x==0 and y!=0:
  print("Y axis")
elif y==0 and x!=0:
  print("X axis")
else:
  print("XY plane ")

9 0
X axis

In [17]:
# CHECK FOR THE LEAP YEAR 
x=int(input())
if ((x%100==0 and x%400==0) or (x%4==0 and x%100!=0)):
  print("Leap year")
else:
  print("INVALID")

1700
INVALID

In [21]:
# enter three sides of a triangle and chcek whetherthe triangle is an equilateral triangle or an isoceles triangle or a acsnle triagle 
a,b,c=[int(x) for x in input().split()]
if a==b and a==c and b==c:
  print("Equilateral triangle")
elif a==b or b==c or a==c:
  print("Isoceles triangle")
else:
  print("Scalene triangle")

44 66 54
Scalene triangle

In [22]:
# enter 3 sides of a triangle, and check whether te tri is valid or not 
# Note: the triangle is valid only if the sum of any two sides is always greater than the thord side of the triabgle 
a,b,c=[int(x) for x in input().split()]
s_ab=a+b
s_bc=b+c
s_ca=c+a
if s_ab>c or s_bc>a or s_ca>b:
  print("Valid")
else:
  print("Invalid")

12 33 10
Valid

In [33]:
#Enter three sides of a triangle and check whether the tiangle is a right angle trianhle or not 

a,b,c=[int(x) for x in input().split()]
if (a**2+b**2 == c**2) or  (b**2+c**2== a**2) or (a**2+c**2== b**2):
  print("Its a right angle")
else:
  print("Not a right angle ")

3 4 5
Its a right angle

In [28]:
 math.sqrt(a**2+b**2)

3.605551275463989