In [6]:
n=int(input("Enter the units"))
if(n>=1 and n<=100):
    amt=0
if(n>100 and n<= 200):
    amt=(n-100)*5
if(n>200):
    amt=(n-200)*10
    print(a)

Enter the units350
1500

In [9]:
#last digit of a number 
n=int(input("Enter the number"))
n=n%10;
if(n%3==0):
    print("divisible by 3")

Enter the number300
divisible by 3

In [11]:
n=int(input("Enter the marks"))
if(n>90):
    print("A")
elif(n>80 and n<=90):
    print("B")
elif(n>=60 and n<=80):
    print("C")
elif(n<60):
    print("D")

Enter the marks81
B

In [12]:
n=int(input("Enter the price"))
if(n>100000):
    amt=(1+15/100)*n
if(n>50000 and n<=100000):
    amt=(1+10/100)*n
if(n<=50000):
    amt=(1+5/100)*n
print(amt)

Enter the price30000
31500.0

In [15]:
#leap year
n=int(input("Enter the year"))
if(n%100==0 and n%400==0):
    print("is leap",n)
elif(n%4==0):
    print("is leap",n)

Enter the year3000
is leap 3000

In [24]:
# 3 digit number
c=0
n=int(input("Enter the number"))
while(n!=0):
    rem=n%10
    c=c+1
    n=n/10
if(c==3):
    print("3 didgit ")

Enter the number22

In [26]:
n=input("Enter the number")
l=len(n)
if(int(l)==3):
    print("3 digit")
else:
    print("not ")

Enter the number22
not

In [27]:
# prime

In [33]:
#check which triangle ?
s1=int(input("Enter the number"))
s2=int(input("Enter the number"))
s3=int(input("Enter the number"))
if(s1==s2 and s2==s3):
    print("Equi")
if(s1==s2):
    if(s2!=s3):
        print("isoceles")
elif(s1==s3 and s3!=s2):
    print("iso")
elif(s2==s3 and s3!=s1):
    print("iso")
    
else:
    print("scaler")

Enter the number2
Enter the number3
Enter the number3
iso

In [ ]:
#First 100 Units     :  Free

#Next 200 Units      :  Rs 2 per day.

#Above 300 Units    :  Rs 5 per day.

#if number of unit is 500 then total bill = 0 +400 + 1000 = 1400

In [4]:
for i in range(1,6):
    for j in range(1,6):
        print("*", end=" ")
    print(" ")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [9]:
for i in range(1,6):
    for j in range(1,6):
        if(i==1 or i==5 ) or(j==1 or j==5):
            print("*",end=" ")
        else:
            print(" ", end=" ")
    print(" ")

* * * * *
*       *
*       *
*       *
* * * * *

In [10]:
for i in range(1,6):
    for j in range(1,6):
        print(i,end=" ")
    print(" ")

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [11]:
for i in range(1,6):
    for j in range(1,6):
        if (i+j)%2==0:
            print("0",end=" ")
        else:
            print("1",end=" ")
    print(" ")

0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0

In [12]:
for i in range(1,6):
    for j in range(1,6):
        if(i==3 or j==3):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print(" ")

    *
    *
* * * * *
    *
    *

In [14]:
for i in range(1,6):
    for j in range(1,6):
        if(i==j):
            print("*", end=" ")
        elif(i+j==6):
            print("*", end=" ")
        else:
            print(" ",end=" ")
    print(" ")

*       *
  *   *
    *
  *   *
*       *

In [17]:
for i in range(1,6):
    for j in range(1,6):
        if(i==1 or i==5) and (j==5 or j==1):
            print("0", end=" ")
        elif(i==1 or i==5 or j==1 or j==5):
            print("1", end=" ")
        else:
            print("0",end=" ")
    print(" ")

0 1 1 1 0
1 0 0 0 1
1 0 0 0 1
1 0 0 0 1
0 1 1 1 0

In [18]:
for i in range(1,6):
    for j in range(1,6):
        print((i+j)-1,end=" ")
    print(" ")

1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8
5 6 7 8 9

In [21]:
for i in range(1,6):
    for j in range(1,6):
            if(i==3 and j==3):
                print("0",end=" ")
            else:
                print("1",end=" ")
    print(" ")

1 1 1 1 1
1 1 1 1 1
1 1 0 1 1
1 1 1 1 1
1 1 1 1 1

In [22]:
for i in range(1,6):
    for j in range(1,6):
            if(i==3 or j==3):
                print("0",end=" ")
            else:
                print("1",end=" ")
    print(" ")

1 1 0 1 1
1 1 0 1 1
0 0 0 0 0
1 1 0 1 1
1 1 0 1 1

In [32]:
for i in range(5,1,-1):
    for j in range(5,i,-1):
        print(j,end=" ")
    print(" ")

5
5 4
5 4 3

In [3]:
                    for i in range(1,6):
                            for j in range(1,i+1):
                                    print("*", end=" ")
                    print()

* * * * * * * * * * * * * * *

In [6]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [7]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [17]:
for i in range(1,6):
    for j in range(5,i,-1):
        print("_",end=" ")
    for r in range(1,i+1):
        print("*",end=" ")
    print()

_ _ _ _ *
_ _ _ * *
_ _ * * *
_ * * * *
* * * * *

In [18]:
for i in range(1,6):
    for j in range(1,i+1):
        if(i%2==0):
            print("0",end=" ")
        else:
            print("1",end=" ")
    print()

1
0 0
1 1 1
0 0 0 0
1 1 1 1 1

In [19]:
for i in range(1,6):
    for j in range(1,i+1):
        if(j%2==0):
            print("0",end=" ")
        else:
            print("1",end=" ")
    print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [20]:
c=0
for i in range(1,6):
    for j in range(1,i+1):
        c=c+1
        if(c%2==0):
            print("0",end=" ")
        else:
            print("1",end=" ")
    print()

1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

In [29]:

for i in range(1,6):
    e=2
    o=1
    for j in range(1,i+1):
        if(i%2==0):
            print(e,end=" ")
            e=e+2
        else:
            print(o,end=" ")
            o=o+2
    print()

1
2 4
1 3 5
2 4 6 8
1 3 5 7 9

In [34]:

for i in range(1,6):
    o=1
    for j in range(1,i+1):
            print(o,end=" ")
            o=o+2
    print()

1
1 3
1 3 5
1 3 5 7
1 3 5 7 9